{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        <ul class="main-navi">
        </ul>      
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">  
            <img src="{{asset "images/cadence-logo.png"}}">
            <h1 class="home-title">{{@blog.title}}</h1>
            <h2 class="home-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    <div id="mc_embed_signup">
        <form action="//getcadence.us10.list-manage.com/subscribe/post?u=4b8aa50b7b6f334c289234957&amp;id=1b51546bc5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="email-form">      
                <div class="form-input">
                    <label for="mce-EMAIL">
                        Email Address:
                    </label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_4b8aa50b7b6f334c289234957_1b51546bc5" tabindex="-1" value=""></div>
                <div class="form-submit clear">
                    <input type="submit" value="Request Beta Access" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
            </div>
        </form>
    </div>
    <p>To be truly agile, one must embrace change. Priorities shift constantly. The faster you respond the faster your organization can move. Effective software creators, and their tools, understand and embody this goal.</p>
    <p>Conversation cannot completely replace documentation. The flow of work across a development team can be quantified. Bottlenecks of work-in-progress can be better understood, insight gained into resourcing and team composition.</p>
    <p>To embrace change, every action must initiate change.</p>

<!--End mc_embed_signup-->
</main>